body{
    margin: 0ex;
    padding: 0ex;
  }
    .header-main {
      height: 10%;
      width: 100%;
      
      background-color: #E6EAEA;  
      display: flex;
      justify-content: space-between;
      align-items: center ;
    }
    
    .header-child1 {
      width: 40%;
    }
    .header-child2 {
      width: 60%;
    }
    
    .navbar-link {
      display: flex;
      justify-content: space-evenly;
    }
    
    #logo {
      padding-left: 20%;
      font-size: 300%;
      font-weight: bold;
      font: bolder;
      color:#354463;
      font-family: Helvetica;
    }
    
    .container {
      height: 90%;
      
      /* background-color: hotpink; */
      background-image: url(chatImage.jpg);
      display: flex;
    }
    .rooms {
      height: 100%;
      width: 30%;
      background-image: url(chatImage.jpg);
    }
    .chats {
      height: 100%;
      width: 80%;
      /* background-color: khaki; */
      display: flex;
      flex-direction: column;
    }
    
  .image-body {
    width: 100%;
    height: 90%;
    background-color: lawngreen;
  }
  