{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'room.css' %}">
</head>
<body>
     
    <header class="header-main">

        <div id="header-child1">
            <a href="{% url 'user:home' %}"><h1 id="logo">Justchat</h1></a>
        </div>

        <div class="header-child2">
            
            <nav>
                <ul class="navbar-link">
                    <li class="link-bar"><a class="head-ancher" href="">{{user}}</a></li>
                    <li class="link-bar"><a class="head-ancher" href="{% url 'chat:user_details' %}">Add ChatRoom</a></li>
                    <li class="link-bar"><a class="head-ancher" id="3" href="">
                        <form action="/logout" method="GET">
                            <button>Logout</button>
                        </form>
                    </a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="rooms">
            <h1>Friends</h1>
            {% for room_name, friend in rooms_details %}
                <a href="{% url 'chat:chat_room' room_name %}"><h3>{{friend}}</h3></a>
                
            {% endfor %}
        </div>

        <div class="chats">
            <div class="chat-msg">
                
                {% for message in messages %}
                <p><b>{{message.author}}</b></p>
                {{message.content}}
                <hr>
                {% endfor %} 
            </div>
            
            <div class="chat-input">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="chat-msg-input" id="chat-msg-input" size="100">
                    <input type="submit" name="Send" id="send">
                </form>
            </div>
        </div>
    </div>
    <div></div>
</body>
</html>