{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'room.css' %}">
</head>
<body>
    <header class="header-main">
        <div id="header-child1">
            <!-- <h1 id="logo">Justchat</h1>  -->
            <a href="http://127.0.0.1:8000/"><h1 id="logo">Justchat</h1></a>
        </div>

        <div class="header-child2">
            
            <nav>
                <ul class="navbar-link">
                    <li class="link-bar"><a class="head-ancher" href="">{{user}}</a></li>
                    <li class="link-bar"><a class="head-ancher" href="">ChatRooms</a></li>
                    <li class="link-bar"><a class="head-ancher" id="3" href="">
                        <form action="/logout" method="GET">
                            <button>Logout</button>
                        </form>
                    </a></li>
                </ul>
            </nav>
        </div>
    </header>

  
    <div class="container">
        <div class="rooms">
            <h1>Your chat rooms</h1>
                {% for room in rooms %}
                <a href="{% url 'chat:chat_room' room.room_name %}"><h3>{{room}}</h3></a>
                {% endfor%}
            {% for room in user_all_rooms %}
                
            {% endfor %}
        </div>

        <div class="chats">
            <div class="chat-msg">
                <p><b>Enter an exiting room or a new room </b></p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input id="room-name-input" type="text" size="100" name="room_name"><br><br>
                    <input id="room-name-submit" type="button" value="Enter">   
                </form>
            </div>
        </div>
    </div>

</body>
</html>