body{
    margin: 0ex;
    padding: 0ex;
}

a{
    text-decoration: none;
}

header {
    height: 10%; 
    background-color: rgb(81, 81, 223);
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
#header-child2{
    width: 60%;
    /* background-color: pink; */
    display: flex;
    justify-content: space-evenly;
}
#logo {
    padding-left: 20%;
    font-size: 400%;
    /* text-align: center; */
    font-weight: bold;
    font: bolder;
    /* color:#354463; */
    color: white;
    font-family: Helvetica;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}


.btn {
    /* background-color:#C1F7D5;  */
    background-color: white;
    border: none;
    color: darkslategrey;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 7.447vw;
    /* border-radius: 200%; */
}
.container1 {
    height: 90%;    
    /* background-color: hotpink; */
    background-image: url(../images/web-chat.jpg);
    display: flex;
}

.rooms {
    height: 100%;
    width: 20%;
} 

.chats {
    height: 100%;
    width: 80%;
    /* background-color: khaki; */
    display: flex;
    flex-direction: column;
}
  
.add-room-box {
    position: relative;
    top: 12%;
    left: 8%;
    height: 68.5%;
    width: 45%;
    background-color: white;
}

* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

