{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustChat</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    
</head>
<body>
    <div class="frame">
        <header>

            <div id="header-child1">
                <form action="" method="GET">
                    <a href=""><h1 id="logo">JustChat</h1></a>             
                </form>
            </div>

            <div id="header-child2">    
                <div>
                    <form action="/signup" method="GET">
                        <button class="btn">Register</button>
                    </form>       
                </div>
                <div>
                    <form action="/login" method="GET">
                        <button class="btn">Login</button>
                    </form>       
                </div>
            </div>  
        </header>
        
        <div class="content">

        </div>
        
    </div>
</body>
</html>