{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustChat</title>
    <link rel="stylesheet" href="{% static 'room.css' %}">
</head>
<body>
    <div>

        <header class="header-main">

            <div id="header-child1">
                <form action="" method="GET">
                    <a href=""><h1 id="logo">Justchat</h1></a>
                     
                </form>
            </div>
    
            <div class="header-child2">
                
                <nav>
                    <ul class="navbar-link">
                        {% if user %}
                            <li class="link-bar"><a class="head-ancher" href="">{{user}}</a></li>
                            <li class="link-bar"><a class="head-ancher" href="http://127.0.0.1:8000/chat/">Start Chatting</a></li>
                        {% endif %}
                        
                        <li class="link-bar"><a class="head-ancher" id="3" href="">
                            <form action="/logout" method="GET">
                                <button>Logout</button>
                            </form>
                        </a></li>
                    </ul>
                </nav>
            </div>  
        </header>
    

        
    
        <form action="/signup" method="GET">
            <button>signUp</button>
        </form>
        <form action="/login" method="GET">
            <button>Login</button>
        </form>
        <br>
        <br>
        <!-- <a href="">signUp</a> -->
    </div>
</body>
</html>