{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'room.css' %}">
</head>
<body>
   
    <div>

        <header class="header-main">

            <div id="header-child1">
                <!-- <h1 id="logo">Justchat</h1>  -->
                <a href="http://127.0.0.1:8000/"><h1 id="logo">Justchat</h1></a>
            </div>
    
            <div class="header-child2">
                
                <nav>
                    <ul class="navbar-link">
                        <li class="link-bar"><a class="head-ancher" href="">{{user}}</a></li>
                        <li class="link-bar"><a class="head-ancher" href="">ChatRooms</a></li>
                        <li class="link-bar"><a class="head-ancher" id="3" href="">
                            <form action="/logout" method="GET">
                                <button>Logout</button>
                            </form>
                        </a></li>
                    </ul>
                </nav>
            </div>
        </header>
    

        <form action="" method="POST">
            {% csrf_token %}
            <fieldset>
                <p>LogIn</p>
                <div>
                    <input type="text" name="username" id="username" placeholder="username">
                </div>
                
                <div>
                    <input type="password" name="password" id="password" placeholder="password">
                </div>
        
                <div>
                    <input type="submit" value="LogIn">
                </div>
            </fieldset>
        </form>
    </div>

</body>
</html>