{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

    <style>
        .box {
            position: relative;
            top: 15%;
            left: 23%;
            height: 70%;
            width: 50%; 
            background-color: white;
        }
    h1{
        font-family: Helvetica;
    }

    </style>
</head>
<body>
    <div class="frame">
        <header>

            <div id="header-child1">
                <form action="" method="GET">
                    <a href=""><h1 id="logo">JustChat</h1></a>             
                </form>
            </div>

            <div id="header-child2">
                <div>
                    <form action="/signup" method="GET">
                        <button class="btn">Register</button>
                    </form>       
                </div>
            </div>  
        </header>
        
        <div class="content">
            <div class="box">
                <form action="" style="border:1px solid #ccc" method="POST">
                    {% csrf_token %} 
                    <div class="container">
                      <h1>Please Login</h1>
                  
                      <hr>
                      <input type="text" placeholder="username" name="username" required>
                      <input type="password" placeholder="Enter Password" name="password" required>
                      <label>
                        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                      </label>
                      
                      <div class="clearfix">
                            <button type="button" class="cancelbtn">Cancel</button>
                            <button type="submit" class="signupbtn">Login</button>
                      </div>
                    </div>
                  </form>
            </div>
        </div>
        
    </div>
</body>
</html>