<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to justChat</h1>
    
    <div>
        <form action="" method="POST">
            {% csrf_token %} 
            <fieldset>
                <p> SignUp</p>
                <div>
                    <input type="text" name="username" id="username" placeholder="username">
                </div>
                <div>
                    <input type="email" name="email" id="email" placeholder="email Address">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="password">
                </div>
                <div>
                    <input type="password" name="confirm-password" id="confirm-password" placeholder="confirm password">
                </div>
                <div>
                    <label for="">
                        <input type="checkbox" name="" id="">
                        By Clicking SignUp you're agree to our policy & terms
                    </label>
                </div>
                <div>
                    <input type="submit" value="SignUp">
                </div>
            </fieldset>
        </form>
    </div>

</body>
</html>